rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /art_walk/{allPaths=**} {
      allow read, write, create;
    }
  }
}
